<div class="container">
  <form [formGroup]="form" (change)="log()">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        formControlName="oldPassword"
        class="form-control"
        id="oldPassword"
        placeholder="Enter old password"
      />
      <div *ngIf="oldPassword.pending">Verify password...</div>
      <div
        *ngIf="
          !oldPassword.pending &&
          oldPassword?.invalid &&
          (!oldPassword?.pristine || oldPassword.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="oldPassword.errors?.required">Old password is required</div>
        <div *ngIf="oldPassword.errors?.inValidPassword">
          Old password is not correct
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <div
        *ngIf="password?.invalid && password?.touched"
        class="alert alert-danger"
      >
        <div *ngIf="password.errors?.required">Password is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirm">Password Confirm</label>
      <input
        formControlName="passwordConfirm"
        type="password"
        class="form-control"
        id="passwordConfirm"
        placeholder="Confirm password"
      />

      <div
        *ngIf="passwordConfirm?.invalid && passwordConfirm?.touched"
        class="alert alert-danger"
      >
        <div *ngIf="passwordConfirm.errors?.required">
          Password confirm is required
        </div>
      </div>

      <div
        class="alert alert-danger"
        *ngIf="passwordConfirm.valid && form.invalid && form.errors?.isNoMatch"
      >
        Password confirm is not match password
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
