<h1>Angular</h1>
<!-- <courses></courses>
<app-course></app-course>
<app-author></app-author> -->
<!-- <title-case></title-case> -->
<toggle-button
  [is-favourite]="isSuccess"
  (change)="buttonChanged($event)"
></toggle-button>

<button class="btn btn-warning ml-2">Button</button>

<boostrap-panel>
  <ng-container class="title">Card title</ng-container>
  <ng-container class="text">
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </ng-container>
</boostrap-panel>
