<div *ngIf="courses.length > 0">List of the course</div>
<div *ngIf="courses.length === 0">No courses yet</div>
<hr />

<div *ngIf="courses.length > 0; else noCourses">List of the course</div>
<ng-template #noCourses>No courses yet</ng-template>
<hr />

<div *ngIf="courses.length > 0; then coursesList; else noCourses">
  List of the course
</div>
<ng-template #coursesList>List of the course</ng-template>
<ng-template #noCourses>No courses yet</ng-template>
<hr />

<div [hidden]="courses.length > 0">List of the course</div>
<div [hidden]="courses.length === 0">No courses yet</div>
<hr />
