/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.zippy {
  border: 1px solid #ccc;
  border-radius: 2px;
  .zippy-heading {
    font-weight: bold;
    padding: 20px;
    cursor: pointer;

    .fas {
      float: right;
    }
  }
  .zippy-body {
    padding: 20px;
  }

  .expanded {
    background-color: #f0f0f0;
  }
}
